---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';


const pageTitle = "Sobre mi";
const identity = {
  nombre: "Sebastian",
  ciudad: "Medellin",
  hobbies: ["Guitarra", "Programar", "Bicicleta"]
};

const skills = ["HTML", "CSS", "Javascript", "Python", "Pandas", "TensorFlow", "Scikit-learn", "Django", "FastAPI"];

const feliz = true;
const terminado = false;

const colorSkill = "gold";
---

<html lang="en">
	<head>

		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
    <style define:vars={{colorSkill}}>
      h1 {
        color: red;
        font-size: 3em;
      }

      .skills {
        color: var(--colorSkill);
        font-weight: bold;
      }

    </style>

	</head>
	<body>

    <Header />


		<h1>{pageTitle}</h1>
		<h2>Sobre mi en astro</h2>

    <p>Estos son algonos datos sobre mi:</p>

    <ul>
      <li>Me llamo {identity.nombre}</li>
      <li>Y soy de {identity.ciudad}</li>
      <li> Y mis Hobbies son: 
        <ul>
          {identity.hobbies.map((hobbie) => <li>{hobbie}</li>)}
        </ul>
      </li>
        
    </ul>
		
    <p>Mis habilidades son: </p>
    <ul>
      {skills.map((skill) => <li class="skills">{skill}</li>)}
    </ul>

    {feliz && <p>Estoy Feliz</p>}

    {terminado && <p>He terminado el blog</p>}
		<Footer />

	</body>
</html>
